@charset UTF-8;
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
li{list-style:none;line-height:15px;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;background:#3E3E3E url(http://s3.mangareader.net/images/bgana.png) repeat;font-family:"Lucida Grande",Tahoma,Arial,Sans-serif,sans;color:#000;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
ul{list-style-type:none;}
a{text-decoration:none;}
.top,h1,h2,h3{font-family:"Century Gothic","Lucida Grande",Tahoma,Arial,Sans-serif,sans;}
#wrapper_header{background:0 0 repeat-x;width:100%;margin:0 auto;}
#wrapper_body{background-color:#F6FFFF;font-size:100%;width:950px;margin:0 auto;padding:0;}
#logoimg{width:270px;height:40px;background:0 0 no-repeat;cursor:pointer;}
#top_navigation{background:no-repeat scroll left top #0f67a1;float:right;clear:right;-moz-border-radius:0 0 0 10px;border-radius:0 0 0 10px;}
#top_navigation ul{float:left;margin:0;padding:0 0 0 7px;}
#top_navigation li{background:none repeat scroll 0 0 transparent;border-left:1px solid #1175AE;border-right:1px solid #0D5995;float:left;height:34px;list-style:none outside none;margin:0;padding:0;}
#top_navigation .topnav-first{border-left:medium none;}
#top_navigation a{color:#EEE;float:left;font-size:116%;line-height:34px;position:relative;text-decoration:none;padding:0 12px;}
#top_navigation a:hover{text-shadow:1px 1px 1px #131C25;color:#FFF;}
#top_navigation .topnav-current{text-shadow:1px 1px 1px #131C25;}
#sec_navigation{background:no-repeat scroll left bottom #192839;float:right;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;margin:0 5px 0 0;}
#sec_navigation ul{float:left;margin:0;padding:0 .8em 2px;}
#sec_navigation li{background:none repeat scroll 0 0 transparent;float:left;list-style:none outside none;border-right:1px solid #0F1924;margin:0;padding:0;}
#sec_navigation a{color:#D0D0D0;float:left;line-height:25px;margin-bottom:2px;text-decoration:none;padding:4px 1em 2px;}
#sec_navigation a:hover{background:none repeat scroll 0 0 #192839;border-bottom:2px solid #176092;color:#D0D0D0;cursor:pointer;margin-bottom:0;}
#sec_navigation .aftersearch{margin-left:5px;border-left:1px solid #0F1924;}
#searchbox{line-height:18px;padding-top:4px;width:200px;border:1px solid #2A9EF0;color:#333;font-size:93%;font-weight:700;height:16px;text-transform:capitalize;padding-left:20px;font-family:"Lucida Grande",Tahoma,Arial,Sans-serif,sans;background:#FDFFFF -270px 0 no-repeat;margin:5px 5px 0;}
#wrapper_footer{background-color:#192839;border-top:1px solid #DDD;padding-bottom:20px;width:950px;margin:0 auto;}
#wrapper_footer table{width:100%;}
#adfooter{width:950px;height:250px;margin:auto;padding:7px 0;}
#adbottomleft{width:300px;height:250px;margin-left:150px;float:left;}
#adbottomright{width:300px;height:250px;margin-left:50px;float:left;}
.top{height:60px;padding-bottom:10px;width:950px;background:#F6FFFF 0 0 repeat-x;margin:0 auto;}
.logo{float:left;height:30px;width:280px;padding:7px 0 0;}
.footer-column{padding:0 20px;}
.footer-column b{color:#777;font-size:85%;font-weight:700;margin-bottom:2px;}
.footer-column a{color:#AAA;font-size:85%;padding-top:2px;}
.ac_results{border:1px solid #000;background-color:#FFF;overflow:hidden;z-index:99999;padding:0;}
.ac_results ul{width:100%;list-style-position:outside;list-style:none;margin:0;padding:0;}
.ac_results li{cursor:default;display:block;font:menu;font-size:93%;line-height:16px;overflow:hidden;margin:0;padding:2px 5px;}
.ac_loading{background:#FFF url(http://s3.mangareader.net/images/indicator.gif) right center no-repeat;}
.ac_odd{background-color:#E5E5E5;color:#3E3E3E;}
.ac_even{color:#3E3E3E;}
.ac_over{background-color:#0A246A;color:#FFF;}
#sec_navigation li,ul{display:inline;float:left;}
#adtop{height:90px;width:728px;margin:5px auto;}
#fpage,.nosprites{width:90px;height:10px;margin-top:8px;}
#bodyust{padding:10px;}
#mangaimg{float:left;margin-bottom:10px;margin-right:10px;}
#mangaproperties{float:left;width:690px;}
#mangaproperties h1{margin-bottom:10px;margin-top:10px;}
h1{color:#0049A2;font-size:161.6%;font-weight:700;text-shadow:.5px .5px 0 #FFF;text-transform:uppercase;margin:0;}
h2{font-size:138.5%;color:#ACE9FE;}
.propertytitle{color:#3676A3;width:130px;}
#latestchapters{margin:10px 0;}
#latestchapters ul{margin-top:5px;}
#popularcaption{-moz-border-radius:2px 14px 0 0;border-radius:2px 14px 0 0;background-color:#01487B;color:#FFF;text-align:center;width:150px;padding:3px 20px;}
.newchapter{color:#0E7ECD;padding-left:10px;text-shadow:0 2px 2px #0C7ECD;}
#readmangasum{background-color:#3676A3;border:1px solid #333;margin-top:10px;padding:10px;}
#readmangasum p{color:#FFF;}
p{color:#000;font-size:93%;line-height:18px;padding-bottom:12px;margin:0;}
#chapterlist{background:none repeat scroll 0 0 #F6FFFF;float:left;padding-bottom:5px;width:100%;}
#listing{border-collapse:collapse;border-spacing:0;color:#2E4962;font-size:100%;letter-spacing:.1px;margin-top:10px;text-align:left;width:100%;}
.table_head{border-bottom:1px solid #3676A3;}
#listing th{color:#001FA0;font-size:108%;padding-left:10px;}
#listing td{padding-left:10px;padding-top:3px;}
.leftgap{padding-left:30px;}
.genretags{background-color:#3676A3;border:1px solid #FFF;color:#FFF;font-size:85%;padding:1px 5px;}
#readmangasum h2{color:#ACE9FE;}
.aname{color:#0055AE;font-size:108%;}
#latestchapters a,#listing a{color:#0055AE;}
.chico_manga{background:-270px -23px no-repeat;width:16px;height:16px;float:left;padding:1px 0 1px 5px;}
td.c1{color:#AAA;}
html,legend{color:#000;}
h1,h2,h3,strong,b,.bold{font-weight:700;}
#top_navigation .topnav-last,#sec_navigation .secnav-last,#sec_navigation .secnav-first{border-right:medium none;}
.clear,#wrapper_body li{clear:both;}
.top,#wrapper_header{background-image:url(http://s3.mangareader.net/sup/images/darkx.30d9a556b0.png);}
#logoimg,#searchbox,.chico_manga{background-image:url(http://s4.mangareader.net/sup/images/dark.30d9a556b0.png);}